<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <%= render 'shared/errors', obj: @user %>
            <%= form_with(model: @user, local: true) do |f|%>
                <div class="form-group mb-3">
                    <%= f.label :username, class:"form-label" %><br/>
                    <%= f.text_field :username, class: "form-control", placeholder: "Enter username"  %>
                </div>
                
                <div class="form-group mb-3">
                    <%= f.label :email, class:"form-label"%><br/>
                    <%= f.email_field :email, class:"form-control", placeholder: "Enter email address" %>
                </div>

                <div class="form-group mb-3">
                    <%= f.label :password, class:"form-label"%><br/>
                    <%= f.password_field :password, class:"form-control", placeholder: "Choose password" %>
                </div>

                <div class="form-group">
                    <%= f.submit "Sign up", class: "btn btn-outline-success" %>
                </div>
            <% end %>
        </div>
    </div>
</div>